@charset "utf-8";
* {
  box-sizing: border-box;
}
h1 {
  color: blue;
}
p {
  font: "楷体";
}
a:link, a:visited {
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  color: #33ff66
}
a:hover {
  border-color: gray;
  color: gray;
}
div.tag {
  border-radius: 50px !important;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  transition: all .15s;
  background-color: #8e44ad;
}
